.dialogs {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.dialogs__menu {
  color: rgb(255, 81, 0);
  padding: 20px;
  max-width: 533px;
}

.messages {
  background: linear-gradient(
    54deg,
    #87e3ff 21%,
    #7dd6e8 60%,
    #4fc4ff 100%
  ); /* W3C */
  padding: 15px;
  border-left: 2px solid rgba(124, 124, 124, 0.822);
}

.dialogs textarea {
  min-width: 180px;
  max-width: 180px;
  min-height: 40px;
  max-height: 40px;
  margin-top: 15px;
  border: 1px solid rgb(15, 19, 233);
  border-radius: 7px;
  padding: 3px;
}

.dialogs button {
  width: 80px;
  height: 25px;
  margin-top: 10px;
  border: 1px solid rgb(21, 5, 253);
  border-radius: 7px;
  background: rgba(45, 65, 252, 0.842);
  color: rgb(252, 252, 252);
  margin: 10px 0 25px 100px;
}

.dialogs button:active {
  color: rgb(6, 255, 255);
  box-shadow: 2px 2px rgb(111, 112, 111);
}
